.common__section {
  background: linear-gradient(rgba(19, 19, 20, 0.2), rgba(21, 21, 21, 0.2)),
    url("../Assets//Homecarousel-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0px;

}

.header_top {
  background: url(../Assets/bg-header-top.png) center center repeat-x;
}

.header_bottom {
  background: url(../Assets/bg-header-bottom.png) center center repeat-x;
}

.title {
  font-family: 'Lobster Two', sans-serif;
  font-size: 72px;
  padding-left: 50px;
}