.common__section {
  background: linear-gradient(rgba(19, 19, 20, 0.2), rgba(21, 21, 21, 0.2)),
    url("../Assets//Homecarousel-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}