.getInTouch {
  font-family: 'Lobster Two', sans-serif;
}


.input {
  border-radius: 5px;
  height: 60px;
  width: 100%;
  color: black;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 20px;
  outline: none;
  border-radius: 10px;
}

.input:focus {
  border: 4px solid #f5bdac;
}

.input-wrap label {
  color: #74787C;
  padding: 14px;
  position: absolute;
  top: 4px;
  left: 0;
  pointer-events: none;
  transition: 0.3s ease all;
}

.input-wrap {
  position: relative;
  width: auto;
  height: auto;
}


/* === FOR UPPER ===== */
.input:focus+label,
.input:valid+label {
  font-size: 14px;
  color: #74787C;
  top: 5px;
  left: 17px;
  background: #ffff;
  padding: 0 5px 0 5px;
}

/* 
--------message--------------- */

.message {
  border-radius: 5px;
  height: 110px;
  width: 100%;
  color: black;
  font-size: 14px;
  padding-left: 20px;
  outline: none;
}

.message:focus {
  border: 4px solid#f5bdac;
  border-radius: 10px;
}

.message-wrap label {
  color: #74787C;
  padding: 14px;
  position: absolute;
  top: 4px;
  left: 0;
  pointer-events: none;
  transition: 0.3s ease all;
}

.message-wrap {
  position: relative;
  width: auto;
  height: auto;
}


/* === FOR UPPER ===== */
.message:focus+label,
.message:valid+label {
  font-size: 14px;
  color: #74787C;
  top: 5px;
  left: 17px;
  background: #ffff;
  padding: 0 5px 0;
}