.Client_Name {
  font-family: 'Lobster Two', sans-serif;
}



.slick-slide>div {
  margin: 0 10px;
}

.slick-arrow {
  background-color: #FE5D37;


  &::before {
    background-color: #FE5D37;

  }
}

.slick-next {
  background-color: #FE5D37;


  &::before {
    background-color: #FE5D37;

  }
}